@charset "UTF-8";

/*------------------------------------- font-family -----------------------------------------------*/
@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/iransans/iransansWeb(FaNum)_Bold.eot');
  src: url('../../fonts/iransans/iransansWeb(FaNum)_Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Bold.woff2') format('woff2'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Bold.woff') format('woff'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/iransans/iransans(FaNum)_Medium.eot');
  src: url('../../fonts/iransans/iransansWeb(FaNum)_Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Medium.woff2') format('woff2'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Medium.woff') format('woff'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/iransans/iransansWeb(FaNum)_Light.eot');
  src: url('../../fonts/iransans/iransansWeb(FaNum)_Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Light.woff2') format('woff2'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Light.woff') format('woff'),
    url('../../fonts/iransans/iransansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 200;
  src: url('../../fonts/iransans/iransansWeb(FaNum)_UltraLight.eot');
  src: url('../../fonts/iransans/iransansWeb(FaNum)_UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/iransans/iransansWeb(FaNum)_UltraLight.woff2')
      format('woff2'),
    url('../../fonts/iransans/iransansWeb(FaNum)_UltraLight.woff')
      format('woff'),
    url('../../fonts/iransans/iransansWeb(FaNum)_UltraLight.ttf')
      format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/iransans/iransansWeb(FaNum).eot');
  src: url('../../fonts/iransans/iransansWeb(FaNum).eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/iransans/iransansWeb(FaNum).woff2') format('woff2'),
    url('../../fonts/iransans/iransansWeb(FaNum).woff') format('woff'),
    url('../../fonts/iransans/iransansWeb(FaNum).ttf') format('truetype');
}

* {
  font-family: iransans, sans-serif !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}
div.ant-space.ant-space-horizontal.ant-space-align-baseline {
  align-items: center !important;
}
img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

#Map {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

.App-map {
  height: 100%;
  width: 100%;
}

.container_plus{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_plus .card {
  width: 100%;
  max-width: 100px;
  margin: 10px 0;
  text-align: center;
}

.container_plus .card p {
  margin: 12px 0;
  font-weight: 600;
  cursor: pointer;
}

.container_plus .card .box {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}